/*
 * Custom styles
 */

.center-block {
    margin: auto;
    float: none;
}

.bg-line {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
}

.footer {
    position: absolute;
    left:0;
    right:0;
}

.content-dashboard {
    width: 100%;
    margin: auto;
    padding-top: 48px;
}

.card-header {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

@media (min-width: 996px) {
    .content-dashboard {
        width: 960px;
    }


}

@media (min-width: 768px) {
    .paddingless-r {
        padding-right: 5px;
    }

    .paddingless-l {
        padding-left: 5px;
    }
}

.pagination {
    padding: 0 15px !important;
}

.disabledClick {
    pointer-events: none;
}

@media (min-width: 768px) {
    .col-r-pless {
        padding-right: 5px;
    }

    .col-rl-pless {
        padding-right: 5px;
        padding-left: 5px;
    }

    .col-l-pless {
        padding-left: 5px;
    }
}

.list-group-item:last-child {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

/*
 * Btn
 */
.btn-primary {
    border-color: #00953D !important;
    background-color: #00953D !important;
}

.btn-primary:hover {
    border-color: #00953D !important;
    background-color: #00953D !important;
}

.btn-primary:focus, .btn-primary:active {
    border-color: #01722f !important;
    background-color: #01722f !important;
}

.dropdown-toggle::after {
    content: '' !important;
    padding: 0 !important;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #01722f;
}

.btn {
    display: inline-block;
    position: relative;
    cursor: pointer;
    min-height: 36px;
    line-height: 36px;
    vertical-align: middle;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    outline: none;
    border: 0;
    padding: 0 6px;
    margin: 6px 8px;
    white-space: nowrap;
    font-weight: 500;
    font-size: 14px;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    text-transform: none;
    letter-spacing: .25px;
    min-width: 60px;
}

/*
 * Modal
 */
.modal-content {
    background-color: #F4F5FA;
}

.modal-content {
    -webkit-border-radius: 16px!important;
    border-radius: 16px!important;
    -webkit-box-shadow: 0 2px 3px 0 rgba(60,64,67,.3),0 6px 10px 4px rgba(60,64,67,.15)!important;
    box-shadow: 0 2px 3px 0 rgba(60,64,67,.3),0 6px 10px 4px rgba(60,64,67,.15)!important;
}

.modal-header {
    padding: 24px;
    border-bottom: 0;
}

.modal-body {
    padding: 24px;
}

.modal-footer {
    border-top: 0;
    padding: 24px;
}

.modal-title {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
}

/*
 * Notifications
 */
.header-navbar .navbar-container .dropdown-menu-media .dropdown-menu-header {
    border-bottom: 0;
}

.dropdown .dropdown-menu {
    -webkit-border-radius: 16px!important;
    border-radius: 16px!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

/*
 * Bg
 */
.bg-primary {
    background-color: #00953D !important;
}

.badge-primary {
    background-color: #00953D;
}

/*
 * Chats
 */
.chat-application .chats .chat-body .chat-content {
    text-align: right;
    position: relative;
    display: block;
    float: right;
    padding: 8px 15px;
    margin: 0 20px 10px 0;
    clear: both;
    color: #fff;
    background-color: #00953D;
    border-radius: 4px;
}

.chat-application .chats .chat-body .chat-content:before {
    position: absolute;
    top: 10px;
    right: -10px;
    width: 0;
    height: 0;
    content: '';
    border: 5px solid transparent;
    border-left-color: #00953D;
}

.chat-application .chats .chat-left .chat-content {
    text-align: left;
    float: left;
    margin: 0 0 10px 20px;
    color: #6B6F82;
    background-color: #edeef0;
}

.chat-application .chats .chat-left .chat-content:before {
    right: auto;
    left: -10px;
    border-right-color: #edeef0;
    border-left-color: transparent;
}